
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Patrick+Hand&family=Permanent+Marker&family=Qahiri&family=Source+Code+Pro:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --col:red;
  --text-col:red;
}

html {
  font-family: "Patrick Hand", cursive;
}

.container{
  overflow: hidden ;
  

}
body {
  padding: 0 16px;
  background-color: #004f52;
  background-image: url("https://transparenttextures.com/patterns/45-degree-fabric-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header {
  background-color: #053742;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
}

header h1 {
  color: #fff;
  font-family: "Permanent Marker", cursive;
  display: inline-block;
  font-size: 30px;
}



footer {
  position: relative;
  text-align: center;

  width: 100%;
  height: 2.5rem;
  margin-top: 50px;
}

footer p {
  color: #ccc;
}

.note {
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 5px 20px #000000;
  padding: 10px;
  width: 20rem;
  margin: 16px;
  float: left;
  height: 13rem;


}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  word-wrap: break-word;
}



.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #BD2000;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;

}

form.create-note input,
form.create-note textarea ,.input-field{
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  white-space: pre-wrap;


}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #BD2000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}



.size{
-moz-appearance: textfield-multiline;
-webkit-appearance: textarea;
-webkit-box-shadow: none;
-moz-box-shadow: none;
border: none;
overflow-x:hidden ;
overflow-y: auto;
outline: none;
height: 7.2rem;
width: 100%;
text-align: left;
font-size: 1.1em;
margin-bottom: 8px;
white-space: pre-wrap;
word-wrap: break-word;
box-shadow: none;
}


.size::-webkit-scrollbar {
    width: 12px;

}

.size::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;

}
.size::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    color: white;
    background-color: white;

}


.size::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);


}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 5px 20px #000000;
  min-height: 20.5rem;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}


.close {
  margin-right: 5px;
  float: right;
  font-weight: bold;
}

.close:hover,
.close:focus {

  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 15px 16px;
  color: #000000;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Lobster', cursive;

}

.modal-header h2 ,.modal-body p{
  outline: none;
  font-family: sans-serif;
  word-wrap: break-word;


}

.modal-body {


  background-color: #ffffff;
  font-size: 18px;
  margin: 5px;

  font-weight: lighter;
}

.color{
  display: inline-block ;
  margin-top: 20px;
  font-family: cursive;
  padding: 0px;
  margin-left: 15px;

}
.color input{

  width: 30px !important;
  height: 30px !important;
  border-radius: 50%!important;
  background-color: inherit;

}

.clock{
  float: right;
  display: inline-block;
  color: #ffffff;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 10px;
}

li{
  margin-left: 40px;
}

ul{
  margin-right: 20px;
}


.ck-editor__editable{
  background-color: var(--col) !important;
  min-height: 20.5rem;
  outline-color: var(--text-col) !important;
}

.ck-editor__nested-editable{
  background-color: white !important;
}

table{
  border: 10px double   black !important;
  background-color: #ffffff;
}

 tr,td{
   border: 1px double  black!important;
   background-color: #ffffff !important;
   color:black!important;
}


th{
   border: 3px solid   black !important;
   color: red;
   background-color: #ffffff !important;

}


.ck-toolbar,.ck-toolbar__items{
  background-color: var(--col) !important;
}

.ck-button {
  color: var(--text-col) !important;
  background-color: var(--col) !important;

}
